.js #pageslideregion-wrapper,
.js .region-pageslideregion {
  -webkit-transition-property: width;
  -moz-transition-property: width;
  -ms-transition-property: width;
  -o-transition-property: width;
  transition-property: width;
  -webkit-transition-property: margin;
  -moz-transition-property: margin;
  -ms-transition-property: margin;
  -o-transition-property: margin;
  transition-property: margin;
  -webkit-transition-duration: 100ms;
  -moz-transition-duration: 100ms;
  -ms-transition-duration: 100ms;
  -o-transition-duration: 100ms;
  transition-duration: 100ms;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -ms-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  width: 100%; }
.js #pageslideregion-wrapper {
  display: inline;
  float: right; }
.js .region-pageslideregion {
  display: inline;
  float: left; }

.js #pageslideregion-wrapper {
  margin-left: 0; }
.js .region-pageslideregion {
  margin-left: -260px;
  width: 260px; }

.js .region-pageslideregion {
  position: fixed;
  top: 0;
  bottom: 0; }

.pageslideregion-active {
  overflow: hidden; }

.pageslideregion-active #pageslideregion-wrapper {
  margin-right: -260px; }
.pageslideregion-active .region-pageslideregion {
  margin-left: 0; }

.pageslideregion-active .region-pageslideregion {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333; }

.region-pageslideregion {
  display: none; }
  .js .region-pageslideregion {
    background-color: #333333;
    display: block; }

#pageslideregion-toggle a {
  margin-right: 1ex; }
  #pageslideregion-toggle a span {
    text-indent: 110%;
    white-space: nowrap;
    overflow: hidden;
    background-image: url("../images/toggle.png");
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    height: 14px;
    margin: 3px 0px;
    text-indent: -9999px;
    vertical-align: text-bottom;
    width: 11px; }

.region-pageslideregion .ui-widget, .region-pageslideregion .ui-widget .ui-widget, .region-pageslideregion .ui-widget input, .region-pageslideregion .ui-widget select, .region-pageslideregion .ui-widget textarea, .region-pageslideregion .ui-widget button {
  font-size: 13px; }
.region-pageslideregion .ui-accordion-content ul {
  padding-left: 0; }
.region-pageslideregion .ui-accordion-content div.item-list > ul, .region-pageslideregion .ui-accordion-content > ul.menu, .region-pageslideregion .ui-accordion-content > ul.links {
  margin-left: 0; }
