@import "compass";

$sidebar-width: 260px !default;

.js {
  %role-main,
  %role-complementary {
    @include transition-property(width);
    @include transition-property(margin);
    @include transition-duration(100ms);
    @include transition-timing-function(ease-in);
    width: 100%;
  }
  @extend %drawer-closed;
  %role-main {
    @include float-right;
  }
  %role-complementary {
    @include float-left;
  }
}

%drawer-closed {
  %role-main {
    margin-left: 0;
  }
  %role-complementary {
    margin-left: - $sidebar-width;
    width: $sidebar-width;
  }
}

@mixin drawer-behavior-style {
  .js {
    %role-complementary {
      position: fixed;
      top: 0;
      bottom: 0;
    }
  }
  .pageslideregion-active {
    overflow: hidden;
  }
}

@include drawer-behavior-style;

%drawer-open {
  %role-main {
    margin-right: -$sidebar-width;
  }
  %role-complementary {
    margin-left: 0;
  }
}

.pageslideregion-active {
  @extend %drawer-open;
}

.region-pageslideregion {
  @extend %role-complementary;
}

#pageslideregion-wrapper {
  @extend %role-main;
}

.pageslideregion-active {
  %role-complementary {
    @include single-box-shadow;
  }
}

%role-complementary {
  display: none;
  .js & {
    background-color: $default-box-shadow-color;
    display: block;
  }
}

#pageslideregion-toggle a {
  margin-right: 1ex;
  span {
    @include hide-text;
    background-image: url('../images/toggle.png');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    height: 14px;
    margin: 3px 0px;
    text-indent: -9999px;
    vertical-align: text-bottom;
    width: 11px;
  }
}

%role-complementary {
  .ui-widget {
    font-size: 13px;
    .ui-widget {
      @extend .ui-widget;
    }
    input, select, textarea, button {
      @extend .ui-widget;
    }
  }
  .ui-accordion-content {
    ul {
      padding-left: 0;
    }
    %bullet-list {
      margin-left: 0;
    }
    div.item-list > ul {
      @extend %bullet-list;
    }
    & > ul.menu {
      @extend %bullet-list;
    }
    & > ul.links {
      @extend %bullet-list;
    }
  }
}
